{% if user.is_authenticated %}
{% load extra_filters %}
<html>
<head>
<style>
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding:2px;
}

.t_w{
	color:white;
	text-decoration:none;
}
.t_hover{
	color:white;
}
.t_hover:hover{
	color:#ff7a7f;
}

</style>
</head>
<body bgcolor="#000;">
<div class="t_w" style="float: left; padding:2px; border: 1px solid #ff7a7f; ">&ensp; FrontStore&ensp; </div> 
<div class="t_w" style="float: left; "> &ensp;&ensp; &#129333;  Hi {{user}} &ensp;&ensp;&ensp;&ensp;</div>  

<center class="t_w">
<a href="/" class="t_w t_hover" style="color:#ff7a7f;">  &#127968; &Hfr;&ofr;&mfr;&efr;<a/> &ensp;|&ensp;
<a href="/bill/" class="t_w t_hover">Billing</a> &ensp;|&ensp;
<a href="/prev_bill/" class="t_w t_hover">Prev Bills</a>
{% if request|has_group:'store_manager' %}
	&ensp;|&ensp; <a href="/add/" class="t_w t_hover">Add Products</a> &ensp;|&ensp;
	<a href="/settings/" class="t_w t_hover">Settings</a> 
{% endif %}

<a href="/logout/" class="t_w t_hover" style="float:inline-end;">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; Logout &#10097;&#10097;&ensp;&ensp; </a>
<hr/>
</center>

<!------------------------------------------------------------------------------------------------------->
<!----------------- Overall Store Valuation Details ----------------------------------------------------->
<!------------------------------------------------------------------------------------------------------->
<br/>
<center>

	<table class="t_w" style="width:450px; text-align:center;font-size: 100%;">
		<tr>
			<td colspan=2><center style="color:#ff7a7f;">Store Valuation: {{PV}}</center></td>
		</tr>
		<tr style="background-color: rgb(122, 1, 1); position: sticky; top: 1; z-index: 1;">
			<th> Items </th>
			<th> Valuation </th>
		</tr>
		
		<tr style="color:white;">
			<td class="recent_bill_id t_hover" id="bill_{{bill.bill_id}}" style="cursor: pointer;">Available Products Valuation</td> &ensp;
			<td>Rs. {{PV}}</td> &ensp;
		</tr>
		
	</table>

</center>
<!------------------------------------------------------------------------------------------------------->
<!----------------- END of HTML Codes here -------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------->
</body>
</html>
{% else %}
    Sorry. You are not authenticated here.
{% endif %}