{% load extra_filters %}
<html>

<head>
<style>

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding:2px;
}

.t_w{
	color:white;
	text-decoration:none;
}
.t_hover{
	color:white;
}
.t_hover:hover{
	color:#ff7a7f;
}
</style>
</head>
<body bgcolor="#000;">
	<div class="t_w" style="float: left; padding:2px; border: 1px solid #ff7a7f; ">&ensp;FrontStore&ensp; </div> 
	<div class="t_w" style="float: left; "> &ensp;&ensp; &#129333;  Hi {{user}} &ensp;&ensp;&ensp;&ensp;</div>  
	
	<center class="t_w">
		<a href="/" class="t_w t_hover">  &#127968; &Hfr;&ofr;&mfr;&efr;<a/> &ensp;|&ensp;
		<a href="/bill/" class="t_w t_hover">Billing</a> &ensp;|&ensp;
		<a href="/prev_bill/" class="t_w t_hover">Prev Bills</a>
		{% if request|has_group:'store_manager' %}
			&ensp;|&ensp; <a href="/add/" class="t_w t_hover" style="color:#ff7a7f;">Add Products</a> &ensp;|&ensp;
			<a href="/settings/" class="t_w t_hover">Settings</a> 
		{% endif %}
		<a href="/logout/" class="t_w t_hover" style="float:inline-end;">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; Logout &#10097;&#10097;&ensp;&ensp; </a>
		<hr/>
	</center>
</br></br>

<center class="t_w">
<div style="background-color:;height:auto;width:350px;">
	<form method="POST" action="/add/">
		{% csrf_token %}
		<span class="t_w" style="">Product Name: &ensp;</span> 
		<input type="text" placeholder="Product Name" name="prd_name" required  style="background-color:black;" class="t_w"> </br></br>
		<span class="t_w" style="">Selling Price: &nbsp; &ensp;</span>
		<input type="number" placeholder="Selling Price" name="sp" required  style="background-color:black;" class="t_w"> </br></br>
		<span class="t_w" style="">Unit for Price:&nbsp; &ensp;</span>
		<select required name="unit" style="background-color:black;width:170px;" class="t_w" >
			<option value="piece">piece</option>
			<option value="dozen">dozen</option>
			<option value="half gross">half gross</option>
			<option value="gross">gross</option>
			<option value="packet">packet</option>
			<option value="Kg">Kg</option>
		</select> 		</br></br>
		
		<span class="t_w" style="">Available Units: &nbsp;</span>
		<input type="number" placeholder="Quantity" name="qty" required style="background-color:black;" class="t_w"> </br></br>
		<span class="t_w" style="">Related tags:  &nbsp; &ensp;</span>
		<input type="text" placeholder="related tags" name="tags" required style="background-color:black;" class="t_w"> </br></br>
		
		<!--<input type="reset" style="background-color:black;" class="t_w" value=" Reset "> &ensp; &ensp;
		-->
		<input class="t_w" style="background-color:black;" type="submit" name="submit_button" value=" Save ">
		
	</form>
</div>
</br>
<table class="t_w" style="width:400px; padding:5px;">
<tr>
	<td colspan=5><center style="color:#ff7a7f;">Recently Added products</center></td>
</tr>
<tr>
	<th> Prd id </th>
	<th> Prd Name </th>
	<th> Price </th>
	<th> per </th>
	<th> Qty</th>
</tr>

{% for product in products %}
<tr style="color:white;">
	<td>{{product.id}}</td> &ensp;
	<td>{{product.name}}</td> &ensp;
	<td>{{product.price}}</td> &ensp;
	<td>{{product.unit}}</td> &ensp;
	<td>{{product.available_qty}}</td>
</tr>
{% endfor %}
</table>


</center>
</body>
</html>