{% load extra_filters %}
<html>

<head>
<style>

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding:2px;
}

.t_w{
	color:white;
	text-decoration:none;
}
.t_hover{
	color:white;
}
.t_hover:hover{
	color:#ff7a7f;
}
</style>
</head>
<body bgcolor="#000;">
	<div class="t_w" style="float: left; padding:2px; border: 1px solid #ff7a7f; ">&ensp;FrontStore&ensp; </div> 
	<div class="t_w" style="float: left; "> &ensp;&ensp; &#129333;  Hi {{user}} &ensp;&ensp;&ensp;&ensp;</div>  
	
	<center class="t_w">
		<a href="/" class="t_w t_hover">  &#127968; &Hfr;&ofr;&mfr;&efr;<a/> &ensp;|&ensp;
		<a href="/bill/" class="t_w t_hover">Billing</a> &ensp;|&ensp;
		<a href="/prev_bill/" class="t_w t_hover">Prev Bills</a>
		{% if request|has_group:'store_manager' %}
			&ensp;|&ensp; <a href="/add/" class="t_w t_hover">Add Products</a> &ensp;|&ensp;
			<a href="/settings/" class="t_w t_hover" style="color:#ff7a7f;">Settings</a> 
		{% endif %}
		<a href="/logout/" class="t_w t_hover" style="float:inline-end;">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; Logout &#10097;&#10097;&ensp;&ensp; </a>
		<hr/>
	</center>
</br></br>

<center class="t_w">
<div style="background-color:;height:auto;width:350px;">
	<form method="POST" action="/upd/">
		{% csrf_token %}
		<input type="text" hidden id="upd_what" name="upd_what" value="update"> 
		<input type="number" hidden id="upd_id" name="upd_id" value="{{product.id}}"> 
		<span class="t_w" style="">Product Name: &ensp;</span> 
		<input type="text" placeholder="Product Name" name="prd_name" required  style="background-color:black;" class="t_w" value="{{product.name}}"> </br></br>
		<span class="t_w" style="">Selling Price: &nbsp; &ensp;</span>
		<input type="number" placeholder="Selling Price" name="sp" required  style="background-color:black;" class="t_w" value="{{product.price}}"> </br></br>
		<span class="t_w" style="">Unit for Price:&nbsp; &ensp;</span>
		<select required name="unit" style="background-color:black;width:170px;" class="t_w">
			<option {% if product.unit == 'piece' %} selected {% endif %} value="piece">piece</option>
			<option {% if product.unit == 'dozen' %} selected {% endif %} value="dozen">dozen</option>
			<option {% if product.unit == 'half gross' %} selected {% endif %} value="half gross">half gross</option>
			<option {% if product.unit == 'gross' %} selected {% endif %} value="gross">gross</option>
			<option {% if product.unit == 'packet' %} selected {% endif %} value="packet">packet</option>
			<option {% if product.unit == 'Kg' %} selected {% endif %} value="Kg">Kg</option>
		</select> 		</br></br>
		
		<span class="t_w" style="">Available Units: &nbsp;</span>
		<input type="number" placeholder="Quantity" name="qty" required style="background-color:black;" class="t_w" value="{{product.available_qty}}"> </br></br>
		<span class="t_w" style="">Related tags:  &nbsp; &ensp;</span>
		<input type="text" placeholder="related tags" name="tags" required style="background-color:black;" class="t_w" value="{{product.tags}}"> </br></br>
		
		<!--<input type="reset" style="background-color:black;" class="t_w" value=" Reset "> &ensp; &ensp;
		-->
		<input class="t_w" style="background-color:black;" type="submit" name="submit_button" value=" Update ">
		<input class="t_w" style="background-color:black;" type="submit" name="submit_button" value=" Delete ">
		<input onclick="history.back()" class="t_w" style="background-color:black;" type="button" name="cancel_button" value=" Cancel ">
		
	</form>
</div>
</br>



</center>
</body>
</html>