{% load static %}
{% load extra_filters %}

<html>

<head>

<script src="{% static 'bootstrap/js/jquery.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- JQuery UI Links ---->
<link rel="stylesheet" href="{% static 'bootstrap/css/jquery-ui.css' %}">
<script src="{% static 'bootstrap/js/jquery-ui.js' %}"></script>

<style>

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding:2px;
}

.t_w{
	color:white;
	text-decoration:none;
}
.t_hover{
	color:white;
}
.t_hover:hover{
	color:#ff7a7f;
}
.prdnm{
	cursor:pointer;
}
</style>
</head>
<body bgcolor="#000;">
	<div class="t_w" style="float: left; padding:2px; border: 1px solid #ff7a7f; ">&ensp;{{store_obj}}&ensp; </div> 
	<div class="t_w" style="float: left; "> &ensp;&ensp; &#129333;  Hi {{user}} &ensp;&ensp;&ensp;&ensp;</div>  
	
	<center class="t_w">
		<a href="/" class="t_w t_hover">  &#127968; &Hfr;&ofr;&mfr;&efr;<a/> &ensp;|&ensp;
		<a href="/bill/" class="t_w t_hover">Billing</a> &ensp;|&ensp;
		<a href="/prev_bill/" class="t_w t_hover">Prev Bills</a>
		{% if request|has_group:'store_manager' %}
			&ensp;|&ensp; <a href="/add/" class="t_w t_hover" style="color:#ff7a7f;">Add Products</a> 
		{% endif %}
		{% if user.is_superuser %}
			&ensp;|&ensp; <a href="/settings/" class="t_w t_hover">Settings</a> 
		{% endif %}
		<a href="/logout/" class="t_w t_hover" style="float:inline-end;">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; Logout &#10097;&#10097;&ensp;&ensp; </a>
		<hr/>
	</center>
</br></br>

<center class="t_w">
<div style="background-color:;height:auto;width:350px;">
	<form method="POST" action="/add/">
		{% csrf_token %}
		<span class="t_w" style="">Product Name: &ensp;</span> 
		<input type="text" placeholder="Product Name" name="prd_name" required  style="background-color:black;" class="t_w"> </br></br>
		<span class="t_w" style="">Selling Price: &nbsp; &ensp;</span>
		<input type="number" placeholder="Selling Price" name="sp" required  style="background-color:black;" class="t_w"> </br></br>
		<span class="t_w" style="">Unit for Price:&nbsp; &ensp;</span>
		<select required name="unit" style="background-color:black;width:170px;" class="t_w" >
			<option value="piece">piece</option>
			<option value="dozen">dozen</option>
			<option value="half gross">half gross</option>
			<option value="gross">gross</option>
			<option value="packet">packet</option>
			<option value="Kg">Kg</option>
			<option value="set">set</option>
		</select> 		</br></br>
		
		<span class="t_w" style="">Available Units: &nbsp;</span>
		<input type="number" placeholder="Quantity" name="qty" required style="background-color:black;" class="t_w"> </br></br>
		<span class="t_w" style="">Related tags:  &nbsp; &ensp;</span>
		<input type="text" placeholder="related tags" name="tags" required style="background-color:black;" class="t_w"> </br></br>
		
		<!--<input type="reset" style="background-color:black;" class="t_w" value=" Reset "> &ensp; &ensp;
		-->
		<input class="t_w" style="background-color:black;" type="submit" name="submit_button" value=" Save ">
		
	</form>
</div>
<div style="width:450px;overflow-y: auto; scrollbar-width: none; -ms-overflow-style: none; height: 200px;">
	<table class="t_w" style="width:450px;">
	<tr>
		<td colspan=5><center style="color:#ff7a7f;">Recently Added products</center></td>
	</tr>
	<tr style="background-color: rgb(122, 1, 1); position: sticky; top: 1; z-index: 1;">
		<th> Prd id </th>
		<th> Prd Name </th>
		<th> Price </th>
		<th> per </th>
		<th> Qty</th>
	</tr>

	{% for product in products %}
	<tr style="color:white;">
		<td>{{product.id}}</td> &ensp;
		<td class = "prdnm" id="row{{product.id}}"><span style="color:#89ff36;">{{product.name}}</span></td> &ensp;
		<td>{{product.price}}</td> &ensp;
		<td>{{product.unit}}</td> &ensp;
		<td>{{product.available_qty}}</td>
	</tr>
	{% endfor %}
	</table>
	<form id="upd_form" hidden action="/upd/" method='POST'>
		{% csrf_token %}
		<input type="text" hidden id="upd_what" name="upd_what"> 
		<input type="number" id="upd_id" name="upd_id"> 
		<button type="submit">Submit</button>
	</form>
</div>

</center>

<script>
$('.prdnm').click(function(){
	$('#upd_id').val(this.id.substr(3,));
	$('#upd_what').val('open');
	$('#upd_form').submit();
});

</script>
</body>
</html>